{% extends 'cms/controlpanel_base.html' %}

{% block content %}
<div id="body">
        <ol class="breadcrumb">
            <li class="active"><a href="#">系统</a></li>
            <li>图片列表</li>
        </ol>
        <div class="barboxs">

            <div class="leftbox">
                <div class="liselect">

                </div>
                <div class="ml10">
                    <div class="input-group date input-datepicker mtb0">
                        <input type="text" id="date" placeholder="请选择时间段"
                            name="date" class="form-control cursorpointer" readonly>
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>

                <div class="liselect w300 ml10">
                    <div class="input-group">
                        <input type="text" id="example-input-typeahead" class="form-control example-typeahead" placeholder="请输入关键词">
                        <span class="input-group-btn">
                            <button class="btn btn-success"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="tablebox">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th width="50"  class="text-center"><input type="checkbox" id="check5-all" name="check5-all"></th>
                        <th class="text-center">ID</th>
                        <th>图片描述</th>
                        <th>标题</th>
                        <th>链接</th>
                        <th>优先级</th>

                        <th class="cell-small text-center"><i class="fa fa-bolt"></i> 操作</th>
                    </tr>
                </thead>
                <tbody>
                {% for img in contacts.object_list %}
                                <tr>
                        <td class="text-center"><input type="checkbox" id="check5-td1" name="check5-td1">
                        </td>
                        <td class="cell-small text-center">{{img.id}}</td>
                        <td><a href="javascript:void(0)">{{img.desc}}</a></td>
                        <td>{{ img.name }}</td>
                        <td>{{ img.link }}</td>
                        <td>{{img.youxian}}</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="javascript:void(0)" class="btn btn-xs btn-info" data-toggle="tooltip"
                                    data-placement="top" title="" data-original-title="前台预览"><i
                                        class="iconfont icon-xiugai" data-uid="{{ img.id }}"></i></a>
                                <a href="javascript:void(0)" class="btn btn-xs btn-danger"><i
                                        class="icon-chahao iconfont"></i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="fy">
            <ul class="pagination">

                {% if contacts.has_previous %}
                    <li><a href="?p={{ contacts.previous_page_number }}">上一页</a></li>
                {% endif %}
{#                {% for pg in contacts.paginator.page_range %}#}
{#                    {% if contacts.number == pg %}#}
{#                        <li class="active"><a href="javascript:void(0)">{{pg}}</a></li>#}
{##}
{#                        {% else %}#}
{#                            <li><a href="?p={{ pg }}">{{ pg }}</a></li>#}
{#                    {% endif %}#}
{##}
{#                {% endfor %}#}
                {% if left_has_more %}
                    <li><a href="?p=1">1</a></li>
                    <li><a href="javascript:void(0);">...</a></li>

                {% endif %}
            {% for left_page in left_pages %}
                <li><a href="?p={{ left_page }}">{{ left_page }}</a></li>
            {% endfor %}
{#            当前页面#}
            <li class="active"><a href="javascript:void(0)">{{current_page}}</a></li>
            {% for right_page in right_pages %}
                <li><a href="?p={{ right_page }}">{{ right_page }}</a></li>
            {% endfor %}

                {% if right_has_more %}
                    <li><a href="javascript:void(0);">...</a></li>
                 <li><a href="?p=1">{{nums_pages}}</a></li>
                {% endif %}
            {% if contacts.has_next %}
                <li><a href="?p={{ contacts.next_page_number }}">下一页</a></li>
            {% endif %}

            </ul>
        </div>
    </div>

    <script>
        $('.dropdown-toggle').dropdown();
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        //1、日期范围
        laydate.render({
        elem: '#date'
        ,range: true,
        theme:"#5cb85c"
        });
    </script>
{% endblock %}