{% extends 'cms/controlpanel_base.html' %}
{% block content %}
<div id="body">
        <ol class="breadcrumb">
            <li class="active"><a href="#">系统</a></li>
            <li>用户列表</li>
        </ol>
        <div class="barboxs">

            <button class="btn btn-success pull-left " data-toggle="modal" data-target="#myModal" title="" data-placement="right" data-original-title="添加管理员">
                <i class="fa fa-pencil-square-o"></i>
            </button>

        </div>
        <div class="tablebox">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">ID</th>
                        <th>真实姓名</th>
                        <th>用户账号</th>
                        <th>用户密码</th>
                        <th>用户类型</th>
                        <th>用户状态</th>
                        <th>创建时间</th>
                        {% if user.is_superuser %}
                        <th class="text-center" width="85"><i class="fa fa-bolt"></i> 操作</th>
                        {% endif %}

                    </tr>
                </thead>
                <tbody>

            {% for useri in contacts %}
                <tr>
                        <td class="cell-small text-center">{{useri.uid}}</td>
                        <td>{{useri.username}}</td>
                        <td>{{useri.telephone}}</td>
                        <td>{{ useri.password }}</td>

                        {% if useri.is_vip %}
                        <td>会员</td>
                            {% else %}
                            <td>普通用户</td>
                        {% endif %}
                    {% if useri.is_active %}
                    <td><span class="label label-success">正常</span></td>
                        {% else %}
                        <td><span class="label label-success">禁用</span></td>
                    {% endif %}
                        <td>{{ useri.data_joined }}</td>
                        {% if user.is_superuser %}
                         <td class="text-center">
                            <div class="btn-group">
                                <a href="javascript:void(0)" class="btn btn-xs btn-info"><i class="iconfont icon-bianji" data-uid="{{ useri.uid }}"></i></a>
                                <a href="javascript:void(0)" class="btn btn-xs btn-danger"><i class="iconfont icon-chahao2"></i></a>
                            </div>
                        </td>
                            {% endif %}
                    </tr>
            {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="fy">
            <ul class="pagination">
                {% include 'base/fenye.html' %}
            </ul>
        </div>
    </div>


    <!-- 000 -->

    <!-- Modal -->

  <!-- 000 -->
      <!-- /* // ****222后台页面定制，设计QQ：951252660 */ -->
    <script>
        $('.dropdown-toggle').dropdown();
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

    </script>

{% endblock %}