<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="box1">
    <input type="hidden" class="uid" data-uid="{{ user.uid }}">
    <input type="time" name="time"/>

<select  id="sid1" onchange="selectcity()">
   			<option value="name">---药盒1---</option>
   			<option value="0">0</option>
   			<option value="1">1</option>
   			<option value="2">2</option>
   			<option value="3">3</option>
   			<option value="4">4</option>
   			<option value="5">5</option>
   			<option value="6">6</option>
</select>

<select  id="sid2" onchange="selectcity()">
<option value="name">---药盒2---</option>
   			<option value="0">0</option>
   			<option value="1">1</option>
   			<option value="2">2</option>
   			<option value="3">3</option>
   			<option value="4">4</option>
   			<option value="5">5</option>
   			<option value="6">6</option>
</select>

<select  id="sid3" onchange="selectcity()">
<option value="name">---药盒3---</option>
    			<option value="0">0</option>
   			<option value="1">1</option>
   			<option value="2">2</option>
   			<option value="3">3</option>
   			<option value="4">4</option>
   			<option value="5">5</option>
   			<option value="6">6</option>
</select>

<select  id="sid4" onchange="selectcity()">
<option value="name">---药盒4---</option>
   			<option value="0">0</option>
   			<option value="1">1</option>
   			<option value="2">2</option>
   			<option value="3">3</option>
   			<option value="4">4</option>
   			<option value="5">5</option>
   			<option value="6">6</option>
</select>

<select  id="sid5" onchange="selectcity()">
<option value="name">---药盒5---</option>
   			<option value="0">0</option>
   			<option value="1">1</option>
   			<option value="2">2</option>
   			<option value="3">3</option>
   			<option value="4">4</option>
   			<option value="5">5</option>
   			<option value="6">6</option>
</select>

<select  id="sid6" onchange="selectcity()">
<option value="name">---药盒6---</option>
    			<option value="0">0</option>
   			<option value="1">1</option>
   			<option value="2">2</option>
   			<option value="3">3</option>
   			<option value="4">4</option>
   			<option value="5">5</option>
   			<option value="6">6</option>
</select>

</div>
<div class="box2">
    <input type="time" name="time"/>
<select  id="sid1" onchange="selectcity()">
   			<option value="name">---药盒1---</option>
   			<option value="0">0</option>
   			<option value="1">1</option>
   			<option value="2">2</option>
   			<option value="3">3</option>
   			<option value="4">4</option>
   			<option value="5">5</option>
   			<option value="6">6</option>
</select>
<select  id="sid2" onchange="selectcity()">
<option value="name">---药盒2---</option>
   			<option value="0">0</option>
   			<option value="1">1</option>
   			<option value="2">2</option>
   			<option value="3">3</option>
   			<option value="4">4</option>
   			<option value="5">5</option>
   			<option value="6">6</option>
</select>
<select  id="sid3" onchange="selectcity()">
<option value="name">---药盒3---</option>
    			<option value="0">0</option>
   			<option value="1">1</option>
   			<option value="2">2</option>
   			<option value="3">3</option>
   			<option value="4">4</option>
   			<option value="5">5</option>
   			<option value="6">6</option>
</select>
<select  id="sid4" onchange="selectcity()">
<option value="name">---药盒4---</option>
   			<option value="0">0</option>
   			<option value="1">1</option>
   			<option value="2">2</option>
   			<option value="3">3</option>
   			<option value="4">4</option>
   			<option value="5">5</option>
   			<option value="6">6</option>
</select>
<select  id="sid5" onchange="selectcity()">
<option value="name">---药盒5---</option>
   			<option value="0">0</option>
   			<option value="1">1</option>
   			<option value="2">2</option>
   			<option value="3">3</option>
   			<option value="4">4</option>
   			<option value="5">5</option>
   			<option value="6">6</option>
</select>
<select  id="sid6" onchange="selectcity()">
<option value="name">---药盒6---</option>
    			<option value="0">0</option>
   			<option value="1">1</option>
   			<option value="2">2</option>
   			<option value="3">3</option>
   			<option value="4">4</option>
   			<option value="5">5</option>
   			<option value="6">6</option>
</select>
</div>
<div class="box3">
    <input type="time" name="time"/>
<select  id="sid1" onchange="selectcity()">
   			<option value="name">---药盒1---</option>
   			<option value="0">0</option>
   			<option value="1">1</option>
   			<option value="2">2</option>
   			<option value="3">3</option>
   			<option value="4">4</option>
   			<option value="5">5</option>
   			<option value="6">6</option>
</select>
<select  id="sid2" onchange="selectcity()">
<option value="name">---药盒2---</option>
   			<option value="0">0</option>
   			<option value="1">1</option>
   			<option value="2">2</option>
   			<option value="3">3</option>
   			<option value="4">4</option>
   			<option value="5">5</option>
   			<option value="6">6</option>
</select>
<select  id="sid3" onchange="selectcity()">
<option value="name">---药盒3---</option>
    			<option value="0">0</option>
   			<option value="1">1</option>
   			<option value="2">2</option>
   			<option value="3">3</option>
   			<option value="4">4</option>
   			<option value="5">5</option>
   			<option value="6">6</option>
</select>
<select  id="sid4" onchange="selectcity()">
<option value="name">---药盒4---</option>
   			<option value="0">0</option>
   			<option value="1">1</option>
   			<option value="2">2</option>
   			<option value="3">3</option>
   			<option value="4">4</option>
   			<option value="5">5</option>
   			<option value="6">6</option>
</select>
<select  id="sid5" onchange="selectcity()">
<option value="name">---药盒5---</option>
   			<option value="0">0</option>
   			<option value="1">1</option>
   			<option value="2">2</option>
   			<option value="3">3</option>
   			<option value="4">4</option>
   			<option value="5">5</option>
   			<option value="6">6</option>
</select>
<select  id="sid6" onchange="selectcity()">
<option value="name">---药盒6---</option>
    			<option value="0">0</option>
   			<option value="1">1</option>
   			<option value="2">2</option>
   			<option value="3">3</option>
   			<option value="4">4</option>
   			<option value="5">5</option>
   			<option value="6">6</option>
</select>
</div>

<button type="button" class="btn">保存</button>

</body>
<script src="{% static 'js/jq.js' %}"></script>
<script src="{% static 'js/ccajax.js' %}"></script>
<script src="{% static 'js/message.js' %}"></script>


<script>
    {#<input type="hidden" class="uid" data-uid="{{ user.uid }}">#}
    var uid1 = $('input[class="uid"]').attr("data-uid");
    {#点击 "保存" 时#}
    $('.btn').click(function () {
  var box1 = $('.box1');
  var b1t = box1.find('input[name="time"]').val();
    var b1v1 = box1.find('#sid1').val();
    var b1v2 = box1.find('#sid2').val();
    var b1v3 = box1.find('#sid3').val();
    var b1v4 = box1.find('#sid4').val();
    var b1v5 = box1.find('#sid5').val();
    var b1v6 = box1.find('#sid6').val();
    var box2 = $('.box2');
     var b2t = box2.find('input[name="time"]').val();
    var b2v1 = box2.find('#sid1').val();
    var b2v2 = box2.find('#sid2').val();
    var b2v3 = box2.find('#sid3').val();
    var b2v4 = box2.find('#sid4').val();
    var b2v5 = box2.find('#sid5').val();
    var b2v6 = box2.find('#sid6').val();
    var box3 = $('.box3');
     var b3t = box3.find('input[name="time"]').val();
    var b3v1 = box3.find('#sid1').val();
    var b3v2 = box3.find('#sid2').val();
    var b3v3 = box3.find('#sid3').val();
    var b3v4 = box3.find('#sid4').val();
    var b3v5 = box3.find('#sid5').val();
    var b3v6 = box3.find('#sid6').val();
    function GetJsonData() {
    var json = {
            'data':{
                'b1t':b1t,
                'b2t':b2t,
                'b3t':b3t,
                'b1v1':b1v1,
                'b1v2':b1v2,
                'b1v3':b1v3,
                'b1v4':b1v4,
                'b1v5':b1v5,
                'b1v6':b1v6,
                'b2v1':b2v1,
                'b2v2':b2v2,
                'b2v3':b2v3,
                'b2v4':b2v4,
                'b2v5':b2v5,
                'b2v6':b2v6,
                'b3v1':b3v1,
                'b3v2':b3v2,
                'b3v3':b3v3,
                'b3v4':b3v4,
                'b3v5':b3v5,
                'b3v6':b3v6,
                'username': uid1
            }
    };
    return json;
}
    ccajax.post({
        'url': '/mdmain/choose/',
         "data": JSON.stringify(GetJsonData()),
        'dataType': "json",
        'success': function (res) {
            if(res['code'] === 200){
                window.messageBox.showSuccess('设置成功！');

            }
        }
    })

    })

</script>
</html>