{% extends 'base_index.html' %}
   <!-- Main Section -->
{% block title %}
详情
{% endblock %}
{% block content %}
 <div class="adco-section-padding mb-90">
     <div class="container-fluid">
      <div class="row">
       <div class="col-md-12">
        <span class="heading-meta style-1">Portfolio</span>
        <h2 class="adco-heading animate-box" data-animate-effect="fadeInLeft">Botanical Escape</h2>
       </div>
      </div>
      <div class="row">
       <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
        <div class="project-desc">
         <p>Quisque tempor ipsum risus,eget cursus elit interdum in. Maecenas placerat lacinia volutpat. Fusce maximus sema matti miss scelerisque. Integer laoreet quam sit amet pellen tesque augue tellus ex fringilla. Nutelo neque sem quis ante. Morbi mi ex the duru them dignissim et dapibus the duru vitae egestas.</p>
         <p>TT Norms tempor ipsum risus,eget cursus elit interdum in. Maecenas placerat lacinia volutpat. Fusce maximus sema matti miss scelerisque. Integer laoreet quam sit amet pellen tesque augue tellus ex fringilla. Nutelo neque sem quis ante.</p>
        </div>
       </div>
       <div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
        <div class="project-desc">
         <p><b>Project Name:</b>Book Design<br /><b>Client:</b>Botanical Escape<br /><b>Skills:</b>Indesign,Photoshop<br /><b>Category:</b>Brand Design </p>
        </div>
       </div>
      </div>
      <!-- Gallery -->
      <div class="row">
       <div class="col-md-6 gallery-item animate-box" data-animate-effect="fadeInLeft">
        <a href="images/portfolio/1.jpg" title="Quisque tempor ipsum risus" class="img-zoom">
         <div class="gallery-box">
          <div class="gallery-img">
           <img src="images/portfolio/1.jpg" class="img-fluid mx-auto d-block" alt="work-img" />
          </div>
          <div class="gallery-detail text-center">
           <i class="ti-plus"></i>
          </div>
         </div></a>
       </div>
       <div class="col-md-6 gallery-item animate-box" data-animate-effect="fadeInLeft">
        <a href="images/portfolio/2.jpg" title="Quisque tempor ipsum risus" class="img-zoom">
         <div class="gallery-box">
          <div class="gallery-img">
           <img src="images/portfolio/2.jpg" class="img-fluid mx-auto d-block" alt="work-img" />
          </div>
          <div class="gallery-detail text-center">
           <i class="ti-plus"></i>
          </div>
         </div></a>
       </div>
       <div class="col-md-6 gallery-item animate-box" data-animate-effect="fadeInLeft">
        <a href="images/portfolio/3.jpg" title="Quisque tempor ipsum risus" class="img-zoom">
         <div class="gallery-box">
          <div class="gallery-img">
           <img src="images/portfolio/3.jpg" class="img-fluid mx-auto d-block" alt="work-img" />
          </div>
          <div class="gallery-detail text-center">
           <i class="ti-plus"></i>
          </div>
         </div></a>
       </div>
       <div class="col-md-6 gallery-item animate-box" data-animate-effect="fadeInLeft">
        <a href="images/portfolio/4.jpg" title="Quisque tempor ipsum risus" class="img-zoom">
         <div class="gallery-box">
          <div class="gallery-img">
           <img src="images/portfolio/4.jpg" class="img-fluid mx-auto d-block" alt="work-img" />
          </div>
          <div class="gallery-detail text-center">
           <i class="ti-plus"></i>
          </div>
         </div></a>
       </div>
       <div class="col-md-6 gallery-item animate-box" data-animate-effect="fadeInLeft">
        <a href="images/portfolio/5.jpg" title="Quisque tempor ipsum risus" class="img-zoom">
         <div class="gallery-box">
          <div class="gallery-img">
           <img src="images/portfolio/5.jpg" class="img-fluid mx-auto d-block" alt="work-img" />
          </div>
          <div class="gallery-detail text-center">
           <i class="ti-plus"></i>
          </div>
         </div></a>
       </div>
       <div class="col-md-6 gallery-item animate-box" data-animate-effect="fadeInLeft">
        <a href="images/portfolio/6.jpg" title="Quisque tempor ipsum risus" class="img-zoom">
         <div class="gallery-box">
          <div class="gallery-img">
           <img src="images/portfolio/6.jpg" class="img-fluid mx-auto d-block" alt="work-img" />
          </div>
          <div class="gallery-detail text-center">
           <i class="ti-plus"></i>
          </div>
         </div></a>
       </div>
      </div>
     </div>
    </div>
{% endblock %}